<div class="feats panel">
    <div class="flex-col">
        <div class="flex flex-between">
            <label class="medium-header padding-3">Beast Component</label>
            <div class="headers-buttons flex-row flex-between padding-3">
                <a data-action="compendium" data-type="Item" data-pack="swse.beast components" title="Open Compendium"><i class="fas fa-folder-plus"></i></a>
            </div>
        </div>
        {{#each beastComp as |category key|}}
        <label class="small-header padding-3">{{lookup ../beastCompLabels key}}</label>
            <table class="feats-table resource-table">
            {{#each category as |item id|}}
            <tbody>
                <tr class="row-attribute-table item" data-item-id="{{item.id}}">
                    <td class="label-item">
                        <div class="flex-label">
                            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                            <label class="item-name">{{item.name}}</label>
                        </div>
                    </td>
                    <td class="item-controls">
                        <div class="flex-controls">
                            <a data-action="view" class="item-control" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{/each}}
        
    </div>
</div>