<div class="defence panel">
    <div class="flex flex-between">
        <label class="medium-header">Defences</label>
        <div class="headers-buttons flex-row flex-between padding-3">
            <a data-action="to-chat" data-action-type="defense" title="Share">
                <i class="fa-solid fa-comment fa-lg"></i>
            </a>
        </div>
    </div>
    {{#each actor.system.defense as |def id|}}
    {{#unless def.skip}}
    {{#if def.defenseBlock}}
    <div class="defense-block">
        <div class="flex-col">
            <label class="small-header">{{toTitleCase def.name}}</label>
            <div class="unlabeled-input numeric-override" data-override="{{def.override}}"
                data-override-name="{{def.name}}" data-override-key="system.defense.{{toLowercase def.name}}.override">
                <input class="input" type="text" value="{{def.total}}" name="system.attributes.{{id}}.manual"
                    disabled />
            </div>
        </div>
        <div class="flex-row flex-end">
            <div class="flex-col">
                <label class="small-header">Base</label>
                <div class="unlabeled-input">
                    <input class="input" type="text" value="10" disabled />
                </div>
            </div>
            <div class="flex-col">
                <label class="small-header">Level Armor</label>
                <div class="unlabeled-input">
                    <input class="input" type="text" value="{{def.armorBonus}}" disabled />
                </div>
            </div>
            <div class="flex-col">
                <label class=" small-header">Ability</label>
                <select class="select-defense-attribute" data-id="{{id}}" name="">
                    {{#select def.attributeBonus}}
                    {{#if (eq id "will")}}
                    {{/if}}
                    {{#each ../abilities as |ability key|}}
                    <option value="{{key}}">{{ability.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flex-col">
                <label class=" small-header">Class</label>
                <div class="unlabeled-input">
                    <input class="input" type="text" value="{{def.classBonus}}" disabled />
                </div>
            </div>
            <div class="flex-col">
                <label class=" small-header">Misc</label>
                <div class="unlabeled-input" title="{{def.miscBonusTip}}">
                    <input class="input" type="text" value="{{def.miscBonus}}" disabled />
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/unless}}
    {{/each}}
</div>